# SvelteKit public envs used by Amplify config
PUBLIC_AWS_REGION=
PUBLIC_COGNITO_USER_POOL_ID=
PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
PUBLIC_COGNITO_DOMAIN=
PUBLIC_OAUTH_REDIRECT_SIGNIN=http://localhost:8008/auth/callback
PUBLIC_OAUTH_REDIRECT_SIGNOUT=http://localhost:8008/
PUBLIC_OAUTH_SCOPES=email,openid,profile
